@model Doctor_Side.Models.DocClinic

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_Pincode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_Pincode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Clinic_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
