@model PaginatedList<Medical.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-header card">
            <div class="card-block">
                <h5 class="m-b-10">Doctor Category List</h5>
                <ul class="breadcrumb-title b-t-default p-t-10">
                    <li class="breadcrumb-item">
                        <a href="../Home/Index"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Doctor Category List</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-header">
                            <h5>Doctor Category List</h5>
                            <a asp-action="Create" class="btn btn-grd-success btn-round f-right d-inline-block ">
                            <i class="icofont icofont-plus m-r-5"></i> 
                            ADD DOCTOR CATEGORY</a>

                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <div class="table-content">
                                    <div class="project-table">
                                        <table id="e-product-list" class="table table-striped dt-responsive nowrap">
                                            <thead>
                                                <tr>
                                                    <th> Category Profile</th>
                                                    <th>Doctor Category Name </th>
                                                    <th> </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                <tr>
                                                    <td class="pro-name">
                                                        <img src="~/Category_Image/@item.Category_MainProfile" class="img-radius" alt="User-Profile-Image" height="60" width="50" />
                                                    </td>
                                                    <td class="pro-name">
                                                        @Html.DisplayFor(modelItem => item.Category_Name)
                                                    </td>
                                                    
                                                    
                                                    <td>
                                                    </td>
                                                    <td class="action-icon">
                                                        <a asp-action="Edit" asp-route-id="@item.Category_ID" class="btn btn-grd-info btn-round">
                                                            <span class="icofont icofont-ui-edit"></span> EDIT
                                                        </a>
                                                        <a asp-action="Delete" asp-route-id="@item.Category_ID" class="btn btn-grd-danger btn-round">
                                                            <span class="icofont icofont-ui-delete"></span> DELETE
                                                        </a>

                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            @{
                                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                            }
                                            <div class="col-xs-12 col-sm-12 col-md-5">
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7">
                                                <div class="dataTables_paginate paging_simple_numbers" id="e-product-list_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled" id="e-product-list_previous">
                                                            <a asp-action="Index"
                                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                                               class="btn btn-primary btn-round @prevDisabled">
                                                                Previous
                                                            </a>

                                                        </li>

                                                        <li class="paginate_button page-item next" id="e-product-list_next">
                                                            <a asp-action="Index"
                                                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                                                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                                                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                                               class="btn btn-primary btn-round @nextDisabled">
                                                                Next
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-overlay"></div>
        </div>
    </div>
</div>




