@model Medical.Models.ViewModel 
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Heal n Cure | @ViewData["Title"]</title>

    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/css/color-themes/default-theme.css" rel="stylesheet">

    <!--Color Switcher Mockup-->
    <link href="~/css/color-switcher-design.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <header class="main-header header-style-one">
            <!-- Header top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="top-left">
                            <ul class="contact-list clearfix">
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="top-right">
                            <ul class="social-icon-one">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Header Lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <!-- Main box -->
                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a href=""><img src="~/images/3.png" height="90" width="90" alt="" title=""></a></div>
                        </div>

                        <!--Nav Box-->
                        <div class="nav-outer">
                            <nav class="nav main-menu">
                                <ul class="navigation" id="navbar">
                                    <li><a href="/Home2/Index"><span>Home</span></a></li>

                                    <li><a href="/PatDoctor/DoctorList"><span>Doctors</span></a></li>

                                    <li class="dropdown">
                                        <span>Departments</span>
                                        <ul>
                                            <li><a href="/PatDoctor/DocCategoryList">Departments</a></li>


                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <span>Shop</span>
                                        <ul>
                                            <li><a href="/PatMedicine/Shop">Medicines</a></li>
                                            <li><a href="/PatMedicine/CartDisplay">Shopping Cart</a></li>
                                            <li><a href="/PatMedicine/Checkout">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <span>My Profile</span>
                                        <ul>
                                            <li><a href="/PatientReg/Profile/@TempData["SessionID"]">Profile</a></li>
                                            <li><a href="/PatientReg/Check">Change password</a></li>
                                            <li><a href="/PatientReg/Logout/@TempData["SessionID"]">Logout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Career/Index">Career</a></li>
                                </ul>
                            </nav>
                            <!-- Main Menu End-->

                            <div class="outer-box">
                                @*<button class="cart-btn"><i class="flaticon-shopping-cart"></i><span class="count">3</span></button>*@
                                <a href="/PatientReg/TakeAppointment" class="theme-btn btn-style-three"><span class="btn-title">Appointment</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container">

                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a href=""><img src="~/images/3.png" height="90" width="90" alt="" title=""></a></div>
                        </div>

                        <!--Keep This Empty / Menu will come through Javascript-->
                    </div>
                </div>
            </div><!-- End Sticky Menu -->
            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="logo"><a href=""><img src="~/images/3.png" height="90" width="90" alt="" title=""></a></div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">

                    <div class="outer-box">
                        <!-- Search Btn -->
                        <div class="search-box">
                            <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"></i></button>
                        </div>

                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>

            <!-- Header Search -->
            <div class="search-popup">
                <span class="search-back-drop"></span>
                <button class="close-search"><span class="fa fa-times"></span></button>

                <div class="search-inner">
                    <form method="post" action="blog-showcase.html">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search..." required="">
                            <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Header Search -->
        </header>
        <!--End Main Header -->
        <!--Main Slider-->
        <section class="main-slider">
            <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
                <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                    <ul>
                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                            <!-- MAIN IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="20" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/images/main-slider/2.jpg">

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['750','750','750','650']"
                                 data-whitespace="normal"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['-180','-170','-180','-180']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="title">Welcome to our Medical Care Center </span>
                            </div>

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[15,15,15,15]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['750','750','750','650']"
                                 data-whitespace="normal"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['-100','-95','-100','-115']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <h2>We take care our <br>patients health</h2>
                            </div>

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[15,15,15,15]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['700','750','700','450']"
                                 data-whitespace="normal"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['0','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="text">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                            </div>

                            <div class="tp-caption tp-resizeme"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[15,15,15,15]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-width="['650','650','700','300']"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['80','90','90','140']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="btn-box">
                                    <a href="/AboutUs/Index" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                                    <a href="#" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                                </div>
                            </div>
                        </li>

                        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                            <!-- MAIN IMAGE -->
                            <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="20" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/images/main-slider/1.jpg">

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['750','750','750','650']"
                                 data-whitespace="normal"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['-180','-170','-180','-180']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <span class="title">Welcome to our Medical Care Center </span>
                            </div>

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[15,15,15,15]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['750','750','750','650']"
                                 data-whitespace="normal"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['-100','-95','-100','-115']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <h2>We take care our <br>patients health</h2>
                            </div>

                            <div class="tp-caption"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[15,15,15,15]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-width="['700','750','700','450']"
                                 data-whitespace="normal"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['0','0','0','0']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="text">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                            </div>

                            <div class="tp-caption tp-resizeme"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[15,15,15,15]"
                                 data-paddingright="[15,15,15,15]"
                                 data-paddingtop="[0,0,0,0]"
                                 data-responsive_offset="on"
                                 data-type="text"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-width="['650','650','700','300']"
                                 data-hoffset="['0','0','0','0']"
                                 data-voffset="['80','90','90','140']"
                                 data-x="['left','left','left','left']"
                                 data-y="['middle','middle','middle','middle']"
                                 data-textalign="['top','top','top','top']"
                                 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                                <div class="btn-box">
                                    <a href="/AboutUs/Index" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                                    <a href="" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Main Slider-->
        <!-- Top Features -->
        <section class="top-features">
            <div class="auto-container">
                <div class="row">
                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <span class="icon flaticon-charity"></span>
                            <h4><a href="#">Quality & Safety</a></h4>
                            <p>Our System Always Concern about your Safety During this Pandemic of Covid-19 .</p>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <span class="icon flaticon-lifeline"></span>
                            <h4><a href="#">Leading Technology</a></h4>
                            <p>Our System utilizes state of the art technology and employs a team of true experts.</p>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <span class="icon flaticon-doctor"></span>
                            <h4><a href="#">Experts by Experience</a></h4>
                            <p>We Have Team of Expert and Experienced Doctor They will help you a lot.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Section -->
        <!-- About Section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="sec-title">
                                <span class="sub-title">OUR MEDICAL</span>
                                <h2>We're setting Standards in Research what's more, Clinical Care.</h2>
                                <span class="divider"></span>
                                <p>We provide the most full medical services, so every person could have the oportunity o receive qualitative medical help.</p>
                                <p> Our System has grown to provide a world class facility for the treatment of all your disease from the most qualified doctors.</p>
                            </div>
                            <div class="link-box">
                                @*<figure class="signature"><img src="~/images/resource/signature.png" alt=""></figure>*@
                                <a href="/AboutUs/Index" class="theme-btn btn-style-one"><span class="btn-title">More About</span></a>
                            </div>
                        </div>
                    </div>

                    <!-- Images Column -->
                    <div class="images-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            @*<div class="video-link">
                                <a href="https://www.youtube.com/watch?v=4UvS3k8D4rs" class="play-btn lightbox-image" data-fancybox="images"><span class="flaticon-play-button-1"></span></a>
                            </div>*@
                            <figure class="image-1"><img src="~/images/resource/image-1.png" alt=""></figure>
                            <figure class="image-2"><img src="~/images/resource/image-2.png" alt=""></figure>
                            <figure class="image-3">
                                <span class="hex"></span>
                                <img src="~/images/resource/image-3.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->
        <!-- Services Section -->
        
        <!--End Services Section -->
        <!-- Team Section -->
        <section class="team-section">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <span class="sub-title">Our Doctor</span>
                    <h2>Our Dedicated Doctors Team</h2>
                    <span class="divider"></span>
                </div>

                
                <div class="row">
                    @foreach (var item in Model.doctorList)
                    {
                        <!-- Team Block -->
                        <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">

                                <figure class="image"><a href="/PatDoctor/DoctorDetails/@item.Doctor_ID"><img src="~/Doctor_Image/@item.Doctor_Profile" alt=""></a></figure>

                                <div class="info-box">
                                    <h4 class="name"><a href="doctor-detail.html">@item.Doctor_Name</a></h4>
                                    <span class="designation">@item.Doctor_Education</span>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                
                <div class="sec-bottom-text">Don’t hesitate, contact us for better help and services <a href="/PatDoctor/DoctorList">Explore all Dr. Team</a></div>
            </div>
        </section>
        <!-- End Team Section -->
        <!-- Appointment Section -->
        <section class="appointment-section">
            <div class="image-layer" style="background-image: url(~/wwwroot/images/background/2.jpg);"></div>
            <div class="auto-container">
                <div class="row">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <span class="title">Need a Doctor for Check-up?</span>
                            <h2>Just Make an Appointment <br>and You’re Done!</h2>
                            <a href="/PatientReg/TakeAppointment" class="theme-btn btn-style-three"><span class="btn-title">Get an Appointment</span></a>
                        </div>
                    </div>
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <figure class="image"><img src="~/images/resource/image-4.png" alt=""></figure>
                    </div>
                </div>

                <div class="fun-fact-section">
                    <div class="row">
                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                                <h4 class="counter-title">Orders</h4>
                                <span class="count-text" data-speed="3000" data-stop="@ViewBag.OrderCount">0</span>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-team"></span></div>
                                <h4 class="counter-title">Medical Team</h4>
                                <span class="count-text" data-speed="3000" data-stop="@ViewBag.DoctorCount">0</span>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                                <h4 class="counter-title">Medical Products</h4>
                                <span class="count-text" data-speed="3000" data-stop="@ViewBag.MedicineCount">0</span>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                                <h4 class="counter-title">Happy Patients</h4>
                                <span class="count-text" data-speed="3000" data-stop="@ViewBag.PatientCount">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Appointment Section -->
        <!-- Testimonial Section -->
        <section class="testimonial-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title text-center">
                    <span class="title">HAPPY Patient</span>
                    <h2>What Says Our Patients</h2>
                    <span class="divider"></span>
                </div>

                <div class="testimonial-outer">
                    <!-- Client Testimonial Carousel -->
                    <div class="client-testimonial-carousel owl-carousel owl-theme">
                    @foreach (var item in Model.reviewList)
                    {
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="text">@item.Review_Msg</div>
                            </div>
                        </div>
                    }
                    </div>

                    <!-- Product Thumbs Carousel -->
                    <div class="client-thumb-outer">
                        <div class="client-thumbs-carousel owl-carousel owl-theme">
                            @foreach (var item in Model.reviewList)
                            {
                                <div class="thumb-item">
                                    <figure class="thumb-box"><img src="~/../../Patient_Image/@item.Patient_Profile" alt=""></figure>
                                    <div class="author-info">
                                        <span class="icon fa fa-quote-left"></span>
                                        <div class="author-name">@item.Patient_Name</div>
                                    </div>
                                </div>
                            }
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonial Section -->
        <!-- Pricing Section -->
        
        <!--End Pricing Section -->
        <!-- News Section -->
       
        <!--End News Section -->
        <!-- Clients Section -->
        <section class="clients-section">
            <div class="auto-container">

                <!-- Sponsors Outer -->
                <div class="sponsors-outer">
                    <!--clients carousel-->
                    <ul class="clients-carousel owl-carousel owl-theme">
                        <li class="slide-item"> <a href="#"><img src="images/clients/1.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/2.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/3.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/4.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/5.png" alt=""></a> </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Clients Section -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!--Widgets Section-->
            <div class="widgets-section" style="background-image: url(~/wwwroot/images/background/7.jpg);">
                <div class="auto-container">
                    <div class="row">
                        <!--Big Column-->
                        <!--<div class="big-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">-->
                                <!--Footer Column-->
                                <!--<div class="footer-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="footer-widget about-widget">
                                        <div class="logo">
                                            <a href="index.html"><img src="~/images/logo-2.png" alt="" /></a>
                                        </div>
                                        <div class="text">
                                            <p>Our System has grown to provide a world class facility for the clinic and pharma advanced restorative. </p>
                                            <p>We are among the most qualified implant providers in the India</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <!--Big Column-->
                        <!--<div class="big-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                                    <div class="footer-widget">
                                        <h2 class="widget-title">Departments</h2>
                                        <ul class="user-links">
                                            <li><a href="#">Surgery & Radiology</a></li>
                                        </ul>
                                    </div>
                                </div>                                
                            </div>
                        </div>-->
                        <div class="big-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->                                

                                <!--Footer Column-->
                                <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                                    <!--Footer Column-->
                                    <div class="footer-widget contact-widget">
                                        <h2 class="widget-title">Address</h2>
                                        <!--Footer Column-->
                                        <div class="widget-content">
                                            <ul class="contact-list">
                                                <li>
                                                    <span class="icon flaticon-placeholder"></span>
                                                    <div class="text">208, Paris Point, New VIP Road, Surat. <Br>Gujarat India</div>
                                                </li>
                                                <li>
                                                    <span class="icon flaticon-call-1"></span>
                                                    <div class="text">Mon to Fri : 10:00 - 18:00</div>
                                                    <a href="tel:+1234567891"><strong>+(1234) - 567891</strong></a>
                                                </li>
                                                <li>
                                                    <span class="icon flaticon-email"></span>
                                                    <div class="text">
                                                        Do you have a Question?<br>
                                                        <a href="mailto:healncure@gmail.com"><strong>healncure@gmail.com</strong></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="icon flaticon-back-in-time"></span>
                                                    <div class="text">
                                                        Mon to Sat 8.00 - 18.00<br>
                                                        <strong>Sunday CLOSED</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <!-- Scroll To Top -->
                <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="footer-nav">
                            <ul class="clearfix">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="/AboutUs/Index">Contact</a></li>
                                <li><a href="#">Supplier</a></li>
                            </ul>
                        </div>

                        <div class="copyright-text">
                            <p>Copyright © 2020 <a href="#">Heal n Cure </a>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer -->

    </div><!-- End Page Wrapper -->
    <!-- Color Palate / Color Switcher -->
    

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <!--Revolution Slider-->
    <script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/js/main-slider-script.js"></script>
    <!--Revolution Slider-->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/mmenu.polyfills.js"></script>
    <script src="~/js/jquery.modal.min.js"></script>
    <script src="~/js/mmenu.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/script.js"></script>
    <!-- Color Setting -->
    <script src="~/js/color-settings.js"></script>
</body>
</html>


