@model Medical.Models.Medicine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Strip_Tablets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Strip_Tablets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine_Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Medicine_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
