@model Medical.Models.ViewModel
@{ ViewData["Title"] = "Details";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page body start -->
        <div class="page-body">
            <!-- Container-fluid starts -->
            <div class="container">
                <!-- Main content starts -->
                <div>
                    <!-- Invoice card start -->
                    <div class="card">
                        <div class="row invoice-contact">
                            <div class="col-md-8">
                                <div class="invoice-box row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive invoice-table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><img src="~/Admin/files/assets/images/logo-blue.png" class="m-b-10" alt=""></td>
                                                </tr>
                                                <tr>
                                                    <td>Heal n Cure </td>
                                                </tr>
                                                <tr>
                                                    <td>208, Paris Point, New VIP Road, Surat. (1234) - 567891</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="mailto:healncure@gmail.com" target="_top">healncure@gmail.com</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>+91 919-91-91-919</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td><a href="#" target="_blank">www.demo.com</a>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row invoive-info">
                                <div class="col-md-4 col-xs-12 invoice-client-info">
                                    <h6>Client Information :</h6>
                                    <h6 class="m-0">@Html.DisplayFor(m => m.bill.Patient_Name)</h6>
                                    <p class="m-0 m-t-10">@Html.DisplayFor(m => m.bill.Bill_Address)</p>
                                    <p class="m-0 m-t-10">@Html.DisplayFor(m => m.bill.Bill_Pincode)</p>
                                    <p class="m-0 m-t-10">@Html.DisplayFor(m => m.city.City_Name)</p>
                                    <p class="m-0 m-t-10">@Html.DisplayFor(m => m.state.State_Name)</p>

                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <h6>Order Information :</h6>
                                    <table class="table table-responsive invoice-table invoice-order table-borderless">
                                        <tbody>
                                            <tr>
                                                <th>Date :</th>
                                                <td>@Html.DisplayFor(m => m.bill.Order_Date)</td>
                                            </tr>
                                            <tr>
                                                <th>Status :</th>
                                                <td>
                                                    <span class="label label-warning">@Html.DisplayFor(m => m.bill.Order_Status)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Id :</th>
                                                <td>
                                                    #@Html.DisplayFor(m => m.bill.Order_ID)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <h6 class="m-b-20">Client Contact: </h6>
                                    <p>@Html.DisplayFor(m => m.bill.Bill_Email)</p>
                                    <p>@Html.DisplayFor(m => m.bill.Bill_Contact)</p>
                                    </>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table  invoice-detail-table">
                                            <thead>
                                                <tr class="thead-default">
                                                    <th>Image</th>
                                                    <th>Medicine Name</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.orderMedicalList)
                                                {
                                                <tr>

                                                    <td>
                                                        <img src="~/Medicine_Main_Image/@item.Medicine_Image" class="img-radius" alt="User-Profile-Image" height="60" width="50" />

                                                    </td>
                                                    <td>
                                                        <p>@item.Medicine_Name</p>
                                                    </td>
                                                    <td>@item.Order_Qty</td>
                                                    <td>@item.Medicine_Price</td>

                                                    @*<td>@(int.Parse(item.Price) * @item.Order_Qty)</td>*@
							<td>@item.Price</td>
                                                   
                                                </tr>}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-responsive invoice-table invoice-total">
                                        <tbody>
                                            @*<tr>
                                                <th>Sub Total :</th>
                                                <td>$4725.00</td>
                                            </tr>
                                            <tr>
                                                <th>Taxes (10%) :</th>
                                                <td>$57.00</td>
                                            </tr>
                                            <tr>
                                                <th>Discount (5%) :</th>
                                                <td>$45.00</td>
                                            </tr>*@
                                            <tr class="text-info">
                                                <td>
                                                    <hr />
                                                    <h5 class="text-primary">Total :</h5>
                                                </td>
                                                <td>
                                                    @*@foreach (var item in Model.orderMedicalList)
                                                    {*@
                                                <hr />
                                                <h5 class="text-primary">@Html.DisplayFor(x=>x.bill.Order_Amount)</h5>
                                                            
                                                    @* } *@
                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-sm-12">
                                    <h6>Terms And Condition :</h6>
                                    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <!-- Invoice card end -->
                    @*<div class="row text-center">
                        <div class="col-sm-12 invoice-btn-group text-center">
                            <button type="button" class="btn btn-primary btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20">Print</button>
                            <button type="button" class="btn btn-danger waves-effect m-b-10 btn-sm waves-light">Cancel</button>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- Container ends -->
        </div>
        <!-- Page body end -->
    </div>
</div>